# Project exclude paths
/.gradle/
/build/
/.idea/
/gradlew/



# Папки с билдом, gradle wrapper и .idea не должны попадать в проект полностью,
# также не должны попадать файлы gradlew, сгенерированные Гредлом, и все генерируемые объекты - .class и так далее